In [3]:
2**3

8

<b> A function to perform exponentiation in python is power abbreviated as pow.

*Syntax*

pow(base,exponent)

>pow(2,3) = 8

**<u>sum**

Sums integer elements in an object.

In [6]:
list_num=[3,7,10]
set_num={3,7,10}
tup_num=(3,7,10)

In [7]:
sum(list_num)

20

The same result is expected for the other data types.

**<u>max and min**

In [9]:
max(tup_num)

10

In [10]:
min(set_num)

3

In [14]:
max('a','b','z')

'z'

In [16]:
min('hello')

'e'

However if you mix upper and lower case letters, the upper case letters will be regarded as the smaller. Thus, be careful when applying the min and max functions to strings.

>min('Hello')='H'

### THERE ISN'T A BUILT-IN FUNCTION IN PYTHON TO FIND  THE AVERAGE! 

You have to use numerical modules to find the mean.

**<u> len**

This stands for the length. It counts the number of elements in an object.

In [19]:
len(tup_num)

3

In [20]:
len('Hello world')

11

**The white spaces between characters are also counted**

**<u> round**

Rounds off a number to the specified number of decimal places.

>round(number,dp)

In [21]:
x=4.4662

In [22]:
round(x,2)

4.47

**<u>range**

Creates a sequence.

>range(start,stop,step)

*Again remember the stop is the number next over. If i wanted 1 to 10 then stop would be 11.*

In [23]:
# Create a tuple of even numbers from an integer set [0-10]

x=range(2,11,2)
tuple(x)

(2, 4, 6, 8, 10)

In [24]:
list(x)

[2, 4, 6, 8, 10]

In [25]:
# Printing out every element.

for i in x:
    print(i)

2
4
6
8
10

**<u> sorted**

Sorts elements in an object in ascending order.

In [27]:
sorted(list_num)

[3, 7, 10]

In [28]:
sorted('hello')

['e', 'h', 'l', 'l', 'o']

The letters have been arranged alphabetically.

In [31]:
# To get in descending order you use the reverse arguemnt. i.e set it to True.

sorted('hello',reverse=True)

['o', 'l', 'l', 'h', 'e']

**<u> input**

This basically works the same as an assignment operator(=). But, it stores everything as a string!

I find this one not useful, to be honest!

In [35]:
x=input()

 [1,2,3,4,4]

In [36]:
x

'[1,2,3,4,4]'

In [37]:
type(x)

str

In [40]:
# To convert the input from string to an integer, you can use the int function.

x=int(input())

 234

In [42]:
type(x)

int

**<u>int**

Converts the entry into an integer.

**<u>float**

Converts the entry into a floating number.(number which decimal places)

In [46]:
float(x)

234.0

Just like how the functions list,tuple,set convert objects into those data types,

>str() - converts objects into string objects.

In [50]:
str(x)

'234'

**However, the dict() cannot convert other objects into dictionaries**

In stead, the dict() can be used as an alternative to creating dictionaries.

In [49]:
# passing keyword arguments to dict() method 
myDict = dict(a=1, b=2, c=3, d=4) 

print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**<u>zip**

This is function you use as a merger of a data types. Because it saves things as almost a geographical pin in the pyhton code. Thereafter, the zip can be converted into an output of your choosing e.g. list.

In [51]:
list_1=[1,2,3,4]
tupl_1=(1,2,3,4,5)
string_1='hello'

In [58]:
x=zip(list_1,tupl_1,string_1)
x

In [53]:
type(x)

zip

In [59]:
tuple(x)

((1, 1, 'h'), (2, 2, 'e'), (3, 3, 'l'), (4, 4, 'l'))

<b> The number 5 and the remaining letters of hello have been excluded because a zip stores elements to the index of the smallest object type.

**<u>enumerate**

This takes an object and converts it an object that can be iterated(lists,tuples, dictionaries).

It returns elements alongside their indices.

*Syntax*

exact_iterable_object_you_specify(enumerate(any_object))

**For a dictionary, the index will be a key and the value will be the element.*

In [61]:
list1=[1,2,3,'random']
str1='hello'

In [63]:
list(enumerate(list1))
# The first of the pairs are the elements' indices then the second is the elements themselves.

[(0, 1), (1, 2), (2, 3), (3, 'random')]

In [64]:
tuple(enumerate(str1))

((0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o'))

In [65]:
dict(enumerate(list1))

{0: 1, 1: 2, 2: 3, 3: 'random'}

### For more built-in functions

* https://docs.python.org/3/library/functions.html