In [89]:
jupyterlab --notebook-dir= C:/Users/ADMIN/Desktop/MY COURSES/PYTHON KNOWLEDGE/My Notes

SyntaxError: invalid syntax (3825356926.py, line 1)

For loops are used when you want make an algorithm that goes through every element is a variable and performs an operation on any one of them.

*Syntax*

for any_variable_name in the_object_containing_the_elements:

     <blocks of code>

**Again, remember the indentation**

In [2]:
list_1=[1,2,3,4,5]
list_1

[1, 2, 3, 4, 5]

In [4]:
# Using the typical'i' as my variable name.

for i in list_1:
    print(i)

1
2
3
4
5

In [5]:
# I could use something else.
for element in list_1:
    print(element)

1
2
3
4
5

In [6]:
for element in list_1:
    print('Hello world')

Hello world
Hello world
Hello world
Hello world
Hello world

In [24]:
num=0
num

0

In [16]:
# Now we will create a loop that adds 1 to every element in num 5 times

for i in [1,2,3,4,5]:
    print(num)
    num=num+1

0
1
2
3
4

In [26]:
# # The ordering of the codes maters alot. 
# If the code 'num=num+1' came before the code 'print(num)' ,then the addition would occur before.

num=0
for i in range(1,6):
    num=num+1
    print(num)

1
2
3
4
5

**A cool shortcut of writing num=num+1 is num+=1. The change is the second num has been removed and the signs have been reversed. However, for easy of understanding it is just better to write it as it before.**

In [27]:
list_2=[[1,2],[3,4],[5,6]]
list_2

[[1, 2], [3, 4], [5, 6]]

In [28]:
for i in list_2:
    print(i)

[1, 2]
[3, 4]
[5, 6]

In [29]:
# We can also bring out the first element from each embedded list.
for i in list_2:
    print(i[0])
# Recall the indexing starts from 0.

1
3
5

In [30]:
# To bring out the second element from each list
for i in list_2:
    print(i[1])

2
4
6

In [33]:
# To return all the individual elements from the list, we can combine the above execution codes.

for i in list_2:
    print(i[0])
    print(i[1])

1
2
3
4
5
6

The reason the output isn't 1,3,5 then 2,4,6 is because the code is executed in complete iterations. It starts at the top, goes all the way down then starts at the top again.

In [34]:
# A more precise code would be to use a nested for loop whereby the first loop is for the elements i.e the lists
# and the nested loop is for the elements inside the loop.
# let's name the elements from the outward list x and the elements from the inner list y.

for x in list_2:
    for y in x:
        print(y)

1
2
3
4
5
6

In [39]:
# The is another method. It is referred to as unpacking. 
# This is where in stead of x/y/i we copy the format of the object as the variable name.

for [a,b] in list_2:
    print(a)
    print(b)

# The brackets are optional, but they simply serve as a reminder that the object is a list.
#This method only works if all the elements occur in pairs in the list. 
# If we had a list in which the embedded lists contain varying number of elements e.g list_x=[[1,2],[2,2,3],[4]]
# then this would not work

1
2
3
4
5
6

In [42]:
# If we had such a list, then the nested for loop would be the go-to

list_x=[[1,2],[2,2,3],[4]]

for x in list_x:
    for y in x:
        print(y)

1
2
2
2
3
4

Aside from Lists tuples are also iterable.

In [44]:
tup_1=(1,2,3,4,5)
tup_1

(1, 2, 3, 4, 5)

In [45]:
for x in tup_1:
    print(x)

1
2
3
4
5

In [48]:
tup_2=([1,2],[3,4],[5,6])

for a,b in tup_2:
    print(a)
    print(b)

1
2
3
4
5
6

In [51]:
List_2=[(1,2),[3,4],{5,6}]

for a,b in List_2:
    print(a)
    print(b)

1
2
3
4
5
6

In [52]:
set_1={'desk','tv','sofa','lamp'}

for i in set_1:
    print(i)

desk
tv
sofa
lamp

In [53]:
str_1='Hello world'
for i in str_1:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [55]:
dict_1={'key_1':'value_1','key_2':'value_2'}
for i in dict_1:
    print(i)

key_1
key_2

We only get keys.

Even if we tried unpacking where the variable_name is a:b, we would get an error message.

In [58]:
# Thus to solve this problem we must transform the dict into the other above types of objects that are iterable
x=tuple(dict_1)

In [61]:
x

('key_1', 'key_2')

Direct transformation won't work

In [66]:
# To extract both keys and values then we must use the dictionary command examine
dict_1.items()

for i in dict_1.items():
    print(i[0])
    print(i[1])

key_1
value_1
key_2
value_2

In [67]:
for a,b in dict_1.items():
    print(a)
    print(b)

key_1
value_1
key_2
value_2

### Combing if statements(control flow) and for loops

In [72]:
furniture=['sofa','desk','lamp','tv']

In [84]:
# print out only if the element is tv

for i in furniture:
    if i =='tv':
        print (i) # remember this indent
    else:
        print('not tv '+ 'but '+ i)

not tv but sofa
not tv but desk
not tv but lamp
tv