Sets are mututable sequences of elements or values in side curly brackets. However, they should not be confused with dictionaries as they don't have keys.

* Sets store multiple entries as single values.
  
  **(Differences from tuples)**
  
* Sets do not allow duplicate values. They only store unique values!  
* Sets are unordered.
* Sets cannot be indexed. If something isn't ordered then it can't be numbered and thus it cannot be referenced. Hence if the preceeding assumption is it cannot be ordered the next natural assumption is that it cannot be indexed nor referenced.

*Syntax*

set_name={var1,var2, etc.}

In [4]:
x={1,2,3}
x

{1, 2, 3}

In [3]:
type(x)

set

You can also create an empty set.

Useful if you need to create a storage space for an iteration that generates outputs that need to be stored and used for the subsequent steps.

*Syntax*

x=set()

#### NB: Be very careful with the syntax!! Remember to use the set function and in stead use the round brackets!

In [9]:
type(x)

set

In [12]:
# This is wrong and a very easy mistake to make. However, this creates an empty dictionary not an empty set!
x={}

In [11]:
type(x)

dict

In [14]:
x={1,2,'John'}
x

{1, 2, 'John'}

 ### Set Methods

**<u> 1. add()**

The add methods, add new elements into a set.

In [15]:
x.add(5)

In [16]:
x

{1, 2, 5, 'John'}

As mentioned before, its unorded thus it might place 5 anywhere in there.

In [17]:
# If i tried, adding another 5 it will not be added as sets only take unique values.
x.add(5)
x

{1, 2, 5, 'John'}

In [18]:
# Even if we tried adding the duplicates at the start
y={1,2,2,2,2,2}
y

{1, 2}

In [19]:
# The duplicates are removed.

We can transform a list into a set by inserting the list as the arguement in a set function.

In [21]:
list_1=[1,2,2,3]
list_1

[1, 2, 2, 3]

In [22]:
# Remember the round brackets.
set_1=set(list_1)

In [23]:
set_1

{1, 2, 3}

The duplicate 2 has been removed.

**<u> 2.intersection()**
 
 Performs an inner join. That is it returns values that much/are in both sets.

*Syntax*

first_set_name.intersection(second_set_name)

In [24]:
x={1,2,3,4}
y={3,4,5,6}

In [25]:
x.intersection(y)

{3, 4}

This method is not available for tuples and lists, however a cool trick to use intersection for them, is to transform them into sets as shown previously in cell 22.