As discovered aready strings have to be enclosed with quotation marks either single,double or even tripple.

In [2]:
# Actually anything enclosed in quotation marks is considered a string.
type("33")

str

In [4]:
# To overcome the problem of quotation marks due to shortforms such as don't, won't, can't etc then use double qoutation marks 
# at the begginning and end

'This won't work'

SyntaxError: invalid syntax (1970556921.py, line 4)

In [6]:
"But this won't won't work."

"But this won't won't work."

In [7]:
# To solve the opposite problem where by we have double qoutation marks inside then we enclose the whole thing 
# using single quotation  marks.

'The student said,"Learning Python is fun"'

'The student said,"Learning Python is fun"'

In [12]:
# Another way to overcome this quotation dilemma is to introduce an escape character \ (backward slash). 
# What the escape character does is it differentiates the apostrophe from the quotatiion marks.
# Syntax: Place the backward slash before the apostrophe.

In [15]:
'This isn\'t what I was expecting '

"This isn't what I was expecting "

In [17]:
# Escape characters can also be used to join two strings written across two different lines

print("This is to appear 
in two lines")

SyntaxError: EOL while scanning string literal (2651080566.py, line 3)

In [21]:
print("This shouldn't appear\
 across two lines")

This shouldn't appear across two lines

In [29]:
# It can also seperate one line of code into two lines but the syntax changes to \n where n stands for new line

print("This should appear \n across two lines")

# However, to remove the white space in the second line; do not include a space between the escape operator and the next string
print("This should appear \nacross two lines")

This should appear
 across two lines
This should appear
across two lines

#### More escape sequences

In [37]:
# There is also \t where t stands for Tab thus a large white space between the strings 

print("This will be\t spaced out")

This will be 	 spaced out

In [40]:
# There is also \b with deletes the letter or white space of the string before. Here b stands for backspace.\
print("This will be\b spaced out")

This will b spaced out

In [42]:
# To insert a backslash then use two  escape characters (\\)
print("This will be \\ spaced out")

This will be \ spaced out

### String indexing

String indexing allows you to acess a particular character in a string.

Syntax

string[the number of that character starting from left to right - 1 as the first character is indexed 0]

In [2]:
x="This is a string"

In [50]:
x[0]

'T'

In [53]:
# Thus for the third character we would use index 2
x[2]

'i'

### String slicing  

This is basically extracting a set of characters from a string variable.

*Syntax*

string[start:stop:step]

where:
* start is the starting character index.
* stop is the last character index. However, this exclude that last string, thus, use the next character over from where you actually want to stop at.
* step indicates how many steps to skip between start ans stop. By default, this is 1.

In [58]:
x[0:4:1]# NB, s is actually the 3-rd index but since it would have been excluded that's why we go to 4 as the stop index

'This'

In [59]:
x[0:4] # Assuming the default value of 1

'This'

In [64]:
# Another default is the starting index which is assumed to be 0. Thus alternatively,
x[:4]

'This'

In [66]:
# To bring the entire string the leave the the start and stop blank.
x[::1]

'This is a string'

In [67]:
# Extracting is 
x[4:7]

' is'

In [69]:
# To extract every other letter
x[::2]

'Ti sasrn'

In [72]:
# You  can also start inedxing from right to left. Just include a negative sign before the digit. 
# This time around, you start from -1 as the last index moving upward
x[-1]

'g'

In [74]:
# Something cool you can do with this reverse ordering is you can re-write you string from right to left 
# where the last becomes the first and the last becomes the first.

x[::-1]

'gnirts a si sihT'

In [88]:
y="My name is John"

In [92]:
y[-4::]

'John'

### String Methods

In [15]:
# To go over just a few. The other methods will be called upon when needed.

In [17]:
# 1. upper()

x.upper()

'THIS IS A STRING'

In [7]:
# However this isn't stored, if we wanted to store this change we would have to reassign this output to the variable
# or assign this output to a new variable.
x=x.upper()
x

'THIS IS A STRING'

In [28]:
# 2. find()

# Finding a text in a string. Sometimes, you may wish to search if a particular word or phrase is in a string. 

# To do this we can use the find method. It will provide you with a yes or no type of answer.

#  Syntax

# find(text,start,stop)

#  Results: 0= Match -1= Is not a match

# N/B- The text is case senstive. The start and stop arguements are optional, if not included the entire string will be searched.

In [20]:
y='Red Flag'

In [11]:
y.find('Red')

0

In [13]:
# if we use the wrong case or type it not exactly as entered it will return -1
y.find("RED")

-1

In [14]:
# Let's try ot a phrase
y.find("Red Flag")

0

In [30]:
# 3. replace()

# This method can replace a word or phrase with another one in a given string.

#  Syntax

# replace(oldtext,newtext,count)

#     count= number of occurences of the old text you wish to be replaced. By default it's all the occurences of the old text 

#            are replaced.

In [32]:
y

'Red Flag'

In [34]:
y.replace('Red','Green')

'Green Flag'

In [36]:
# Again note that the original variable has not been replaced. To do so we would need to reassign the variable.
y

'Red Flag'

In [39]:
y=y.replace('Red','Green')
y

'Green Flag'

In [ ]:
#  4. split()

# This is used to split a string into a list, by default the string will be separated by each whitespace character.

In [41]:
x

'THIS IS A STRING'

In [43]:
x.split()

['THIS', 'IS', 'A', 'STRING']

In [44]:
# As mentioned above the separator is white space by default. However, if we had a different separato/delimiter e.g commas
# we would insert it quotation marks inside the brackets i.e.
# x.split(',')

In [47]:
x='This, is a , string '

In [49]:
x.split(',')

['This', ' is a ', ' string ']

Unlike other languages in Python, string elements cannot be changed.

For example
    x='Hello'
    
You cannot change the H to be P

In [51]:
x="Hello"
x[0]

'H'

In [53]:
x[0]='P'

TypeError: 'str' object does not support item assignment

 ### String concatenation

 This can be done using the plus operator.

In [55]:
'This string' + 'that string'

'This stringthat string'

In [57]:
# As you have seen you probably should add a whhite space before the starting character of the second string.

In [59]:
'This string' + ' that string'

'This string that string'

In [62]:
# Sticking to the same matter, we could add a white space as another string in between the two original strings.
# Remember to space out those middle qoutation marks. Don't write '' but rather ' '
'This string' + ' ' + 'that string'

'This string that string'

In [64]:
x='My name is'
y='Joe'

In [66]:
x+ ' ' + y

'My name is Joe'

In [69]:
z= x+ ' ' + y
z

'My name is Joe'

### String formatting

You can use the f string method to embed expressions inside a string.

*Syntax*

f 'new_text {the_existing_string}'

###### *Use curly brackets*

In [71]:
y

'Joe'

In [72]:
f'Hi, my name is {y}'

'Hi, my name is Joe'

In [74]:
# It can be chained

f'Hi, my name is {y}, {y}, {y}'

'Hi, my name is Joe, Joe, Joe'